<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shipment">
            <h2><span jhiTranslate="setsyApp.shipment.detail.title">Shipment</span> {{shipment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="setsyApp.shipment.trackingCode">Tracking Code</span></dt>
                <dd>
                    <span>{{shipment.trackingCode}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.shipment.date">Date</span></dt>
                <dd>
                    <span>{{shipment.date}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.shipment.details">Details</span></dt>
                <dd>
                    <span>{{shipment.details}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.shipment.invoice">Invoice</span></dt>
                <dd>
                    <div *ngIf="shipment.invoice">
                        <a [routerLink]="['/invoice', shipment.invoice?.id, 'view']">{{shipment.invoice?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shipment', shipment.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
