<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invoice-heading" jhiTranslate="setsyApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invoice.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                        [(ngModel)]="invoice.details" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.invoiceStatus" for="field_invoiceStatus">Invoice Status</label>
                    <select class="form-control" name="invoiceStatus" [(ngModel)]="invoice.invoiceStatus" id="field_invoiceStatus"  required>
                        <option value="PAID">{{'setsyApp.InvoiceStatus.PAID' | translate}}</option>
                        <option value="ISSUED">{{'setsyApp.InvoiceStatus.ISSUED' | translate}}</option>
                        <option value="CANCELLED">{{'setsyApp.InvoiceStatus.CANCELLED' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.invoiceStatus?.dirty && editForm.controls.invoiceStatus?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceStatus?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" name="paymentMethod" [(ngModel)]="invoice.paymentMethod" id="field_paymentMethod"  required>
                        <option value="CREDIT_CARD">{{'setsyApp.PaymentMethod.CREDIT_CARD' | translate}}</option>
                        <option value="CASH_ON_DELIVERY">{{'setsyApp.PaymentMethod.CASH_ON_DELIVERY' | translate}}</option>
                        <option value="PAYPAL">{{'setsyApp.PaymentMethod.PAYPAL' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.paymentMethod?.dirty && editForm.controls.paymentMethod?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentMethod?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.paymentDate" for="field_paymentDate">Payment Date</label>
                    <div class="d-flex">
                        <input id="field_paymentDate" type="datetime-local" class="form-control" name="paymentDate" [(ngModel)]="paymentDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.paymentDate?.dirty && editForm.controls.paymentDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.paymentDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.paymentAmount" for="field_paymentAmount">Payment Amount</label>
                    <input type="number" class="form-control" name="paymentAmount" id="field_paymentAmount"
                        [(ngModel)]="invoice.paymentAmount" required/>
                    <div [hidden]="!(editForm.controls.paymentAmount?.dirty && editForm.controls.paymentAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.paymentAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="setsyApp.invoice.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" [(ngModel)]="invoice.order" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOrderOption.id === invoice.order?.id ? invoice.order : productOrderOption" *ngFor="let productOrderOption of productorders; trackBy: trackProductOrderById">{{productOrderOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
