<div>
    <h2 id="page-heading">
        <span jhiTranslate="setsyApp.invoice.home.title">Invoices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="setsyApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="setsyApp.invoice.date">Date</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="details"><span jhiTranslate="setsyApp.invoice.details">Details</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="invoiceStatus"><span jhiTranslate="setsyApp.invoice.invoiceStatus">Invoice Status</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="paymentMethod"><span jhiTranslate="setsyApp.invoice.paymentMethod">Payment Method</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="paymentDate"><span jhiTranslate="setsyApp.invoice.paymentDate">Payment Date</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="paymentAmount"><span jhiTranslate="setsyApp.invoice.paymentAmount">Payment Amount</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="order.id"><span jhiTranslate="setsyApp.invoice.order">Order</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.date | date:'medium'}}</td>
                <td>{{invoice.details}}</td>
                <td jhiTranslate="{{'setsyApp.InvoiceStatus.' + invoice.invoiceStatus}}">{{invoice.invoiceStatus}}</td>
                <td jhiTranslate="{{'setsyApp.PaymentMethod.' + invoice.paymentMethod}}">{{invoice.paymentMethod}}</td>
                <td>{{invoice.paymentDate | date:'medium'}}</td>
                <td>{{invoice.paymentAmount}}</td>
                <td>
                    <div *ngIf="invoice.order">
                        <a [routerLink]="['../product-order', invoice.order?.id, 'view' ]" >{{invoice.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="invoices && invoices.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
