<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="setsyApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="setsyApp.invoice.date">Date</span></dt>
                <dd>
                    <span>{{invoice.date}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.invoice.details">Details</span></dt>
                <dd>
                    <span>{{invoice.details}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.invoice.invoiceStatus">Invoice Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'setsyApp.InvoiceStatus.' + invoice.invoiceStatus}}">{{invoice.invoiceStatus}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.invoice.paymentMethod">Payment Method</span></dt>
                <dd>
                    <span jhiTranslate="{{'setsyApp.PaymentMethod.' + invoice.paymentMethod}}">{{invoice.paymentMethod}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.invoice.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{invoice.paymentDate}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.invoice.paymentAmount">Payment Amount</span></dt>
                <dd>
                    <span>{{invoice.paymentAmount}}</span>
                </dd>
                <dt><span jhiTranslate="setsyApp.invoice.order">Order</span></dt>
                <dd>
                    <div *ngIf="invoice.order">
                        <a [routerLink]="['/product-order', invoice.order?.id, 'view']">{{invoice.order?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
