<div>
    <h2 id="page-heading">
        <span jhiTranslate="setsyApp.productOrder.home.title">Product Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-order" [routerLink]="['/product-order/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="setsyApp.productOrder.home.createLabel">
            Create new Product Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="placedDate"><span jhiTranslate="setsyApp.productOrder.placedDate">Placed Date</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="orderStatus"><span jhiTranslate="setsyApp.productOrder.orderStatus">Order Status</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="setsyApp.productOrder.code">Code</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="customer.id"><span jhiTranslate="setsyApp.productOrder.customer">Customer</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productOrder of productOrders ;trackBy: trackId">
                <td><a [routerLink]="['/product-order', productOrder.id, 'view' ]">{{productOrder.id}}</a></td>
                <td>{{productOrder.placedDate | date:'medium'}}</td>
                <td jhiTranslate="{{'setsyApp.OrderStatus.' + productOrder.orderStatus}}">{{productOrder.orderStatus}}</td>
                <td>{{productOrder.code}}</td>
                <td>
                    <div *ngIf="productOrder.customer">
                        <a [routerLink]="['../customer', productOrder.customer?.id, 'view' ]" >{{productOrder.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-order', productOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-order', productOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-order/'+ productOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productOrders && productOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
