<div>
    <h2 id="page-heading">
        <span jhiTranslate="setsyApp.product.home.title">Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="setsyApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <!--div class="table-responsive" *ngIf="products">
        table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="setsyApp.product.name">Name</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="setsyApp.product.description">Description</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="setsyApp.product.price">Price</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="size"><span jhiTranslate="setsyApp.product.size">Size</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="setsyApp.product.image">Image</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="productCategory.id"><span jhiTranslate="setsyApp.product.productCategory">Product Category</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', product.id, 'view' ]">{{product.id}}</a></td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td jhiTranslate="{{'setsyApp.Size.' + product.size}}">{{product.size}}</td>
                <td>
                    <a *ngIf="product.image" (click)="openFile(product.imageContentType, product.image)">
                        <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 30px;" alt="product image"/>
                    </a>
                    <span *ngIf="product.image">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                </td>
                <td>
                    <div *ngIf="product.productCategory">
                        <a [routerLink]="['../product-category', product.productCategory?.id, 'view' ]" >{{product.productCategory?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div-->
    <div *ngIf="products">
        <div class="mb-2 d-flex justify-content-end align-items-center">
            <span class="mr-2 col-2">Filter by name</span>
            <input type="search" class="form-control" [(ngModel)]="filter">
            <span class="mx-2 col-1">Sort by</span>
            <div class="btn-group"
                 role="group"
                 jhiSort
                 [(predicate)]="predicate" [(ascending)]="reverse"
                 [callback]="transition.bind(this)">
                <button type="button" class="btn btn-light" jhiSortBy="name">
                    <span jhiTranslate="setsyApp.product.name">Name</span>
                    <span class="fa fa-sort"></span>
                </button>
                <button type="button" class="btn btn-light" jhiSortBy="price">
                    <span jhiTranslate="setsyApp.product.price">Price</span>
                    <span class="fa fa-sort"></span>
                </button>
                <button type="button" class="btn btn-light" jhiSortBy="size">
                    <span jhiTranslate="setsyApp.product.size">Size</span>
                    <span class="fa fa-sort"></span>
                </button>
                <button type="button" class="btn btn-light" jhiSortBy="productCategory.id">
                    <span  jhiTranslate="setsyApp.product.productCategory">Product Category</span>
                    <span class="fa fa-sort"></span>
                </button>
            </div>
        </div>
        <div class="list-group" *ngFor="let product of (products | pureFilter:filter:'name'); trackBy: trackId">
            <a [routerLink]="['/product', product.id, 'view' ]"
               class="list-group-item list-group-item-action flex-column
               align-items-start">

                <div class="row">
                    <div class="col-2 col-xs-12 justify-content-center">
                            <img [src]="'data:' + product.imageContentType + ';base64,' + product.image"
                                 style="max-height:150px;" alt="product image"/>
                        </div>
                    <div  class="col col-xs-12" >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{product.name}}</h5>
                       </div>
                        <small class="mb-1">{{product.description}}</small>
                        <p class="mb-1">Price: {{product.price | currency:  'USD'}}</p>
                        <small>
                            Size:
                            <span jhiTranslate="{{'setsyApp.Size.' + product.size}}">
                                {{product.size}}
                            </span>
                        </small>
                        <small *ngIf="product.productCategory">
                            Category:
                            <span >
                                {{product.productCategory?.id}}
                            </span>
                        </small>

                    </div>
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <button type="submit"
                                [routerLink]="['/',
                                { outlets: { popup: 'product/'+
                                product.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/',
                                { outlets: { popup: 'product/'+
                                product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
               </div>
            </a>
        </div>
    </div>
    <div *ngIf="products && products.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
