<div>
    <h2 id="page-heading">
        <span jhiTranslate="setsyApp.orderItem.home.title">Order Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-item" [routerLink]="['/order-item/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="setsyApp.orderItem.home.createLabel">
            Create new Order Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="setsyApp.orderItem.quantity">Quantity</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="setsyApp.orderItem.totalPrice">Total Price</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="orderItemStatus"><span jhiTranslate="setsyApp.orderItem.orderItemStatus">Order Item Status</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="product.id"><span jhiTranslate="setsyApp.orderItem.product">Product</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="order.id"><span jhiTranslate="setsyApp.orderItem.order">Order</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItem of orderItems ;trackBy: trackId">
                <td><a [routerLink]="['/order-item', orderItem.id, 'view' ]">{{orderItem.id}}</a></td>
                <td>{{orderItem.quantity}}</td>
                <td>{{orderItem.totalPrice}}</td>
                <td jhiTranslate="{{'setsyApp.OrderItemStatus.' + orderItem.orderItemStatus}}">{{orderItem.orderItemStatus}}</td>
                <td>
                    <div *ngIf="orderItem.product">
                        <a [routerLink]="['../product', orderItem.product?.id, 'view' ]" >{{orderItem.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderItem.order">
                        <a [routerLink]="['../product-order', orderItem.order?.id, 'view' ]" >{{orderItem.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-item', orderItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-item', orderItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-item/'+ orderItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="orderItems && orderItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
